body {
  font-family: 'Ubuntu', sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
  color: #333;
  background-color: #fff;
}
.h1 , .h2 , .h3 , .h4 , .h5 , .h6 {
  font-family:Arial, Helvetica, sans-serif;
}
.logo {
  width: 200px;
  height: 40px;
  margin-left: 380px;
  margin-top: 12px;
}
.adresa {
  margin-left: 870px;
  margin-top: -42px;
  color: gray;
  font-size: 14px;
}
.mail {
  margin-left: 1350px;
  margin-top: -33px;
  color: gray;
  font-size: 14px;
}
.lokacijasl {
  position: absolute;
  margin-left: 235px;
  margin-top: 17px;
}
.telefonsl {
  position: absolute;
  margin-left: 1050px;
  margin-top: -50px;
}
.broj {
  margin-left: 1100px;
  margin-top: -40px;
  color: gray;
  font-size: 14px;
}
.mailsl {
  position: absolute;
  margin-left: 1300px;
  margin-top: -43px;
}

.nav {
  
  display: inline-block;
  text-decoration: none;
  list-style: none;
  background-color:rgba(0,0,0,0.5);
  color: white;
  width: 97.7%;
  margin-top: 20px;
  font-size: 13px;
  z-index: 2;
  text-transform: uppercase;
  font-family:Arial, Helvetica, sans-serif;
  
  


}
li {
  display: inline-block;
  cursor: pointer;
  float: left;
  padding: 15px;
  
  
}
.pr1 {
  margin-left: 328px;
}
.pr1:hover {
  border-bottom: 3px solid #005dbe;
  
}
.pr1:active {
  border-bottom: 3px solid #005dbe;
}
.pr:hover {
  border-bottom: 3px solid #005dbe;
  
}
.pr:active {
  border-bottom: 3px solid #005dbe;
}

.covjeksl {
  position: absolute;
  z-index: -1;
  margin-top: -69px;
  height: 850px;
  width: 99%;
  filter: brightness(60%)
}
.best {
  position: absolute;
  text-align: center;
  font-size: 35px;
  margin-top: 260px;
  margin-left: 820px;
  color: #fff;
  text-shadow: 1px 1px 4px #333;
}
.make {
  position: absolute;
  text-align: center;
  font-size: 35px;
  margin-top: 305px;
  margin-left: 670px;
  color: #fff;
  text-shadow: 1px 1px 4px #333;
}
.bz1 {
  position: absolute;
  text-align: center;
  font-size: 17px;
  margin-top: 355px;
  margin-left: 750px;
  color: #fff;
  text-shadow: 5px 5px 10px #333;
  
}
.botun1 {
  position: absolute;
  width: 162px;
  background-color: #005dbe;
  height: 45px;
  margin-left: 820px;
  margin-top: 420px;
  border: 2px solid #005dbe;
  border-radius: 50px;
  font-family: 'Ubuntu', sans-serif;
  color: white;
  cursor: pointer;
}
.botun1:hover {
  background-color: white;
  color: #005dbe;
  transition: 0.5s;
  border: 2px solid white;
}
.botun2 {
  position: absolute;
  width: 162px;
  background-color: white ;
  height: 45px;
  margin-left: 1000px;
  margin-top: 420px;
  border: 2px solid white;
  border-radius: 50px;
  font-family: 'Ubuntu', sans-serif;
  color: #005dbe;
  cursor: pointer;
}
.botun2:hover {
  background-color: #005dbe;
  color: white;
  transition: 0.5s;
  border: 2px solid #005dbe;
}
.row3 {
  height: 1000px;
  margin-top: 750px;
}
.whysl {
  width: 550px;
  height: 400px;
  margin-left: 1000px;
  margin-top: 80px;
}
.who {
  position: absolute;
  margin-top: 150px !important;
  margin-left: 366px !important;
  color: grey;

}
.choose {
  position: absolute;
  margin-top: 180px !important;
  margin-left: 366px !important;
  color: black;
  font-size: 36px;
  line-height: 1em;
  margin-bottom: 10px;
  text-transform: capitalize;
  font-family:Arial, Helvetica, sans-serif;
  }
  
.hr1 {
  position: absolute;
  content: '';
  width: 150px;
  height: 1px;
  margin-top: 230px;
  margin-left: 370px;
  background: linear-gradient(to right,  #005dbe 0%,#005dbe 30%,#f2f2f2 30%,#f2f2f2 100%);
}
.opis2 {
  position: absolute;
  margin-top: -210px !important;
  margin-left: 366px !important;
  color: grey;
  

}
.listsl {
  
  margin-top: -150px !important;
  margin-left: 366px;
  
}
.blokovi {
  display:inline-block ;
  margin-left: 100px;
}
.bl1 {
  position: absolute;
  width: 292px;
  height: 100px;
  background-color: #005dbe;
  margin-top: -20px;
  margin-left: -500px;
}
.bl2 {
  position: absolute;
  width: 292px;
  height: 100px;
  background-color: #1d6bbb;
  margin-top: -20px;
  margin-left: -210px;
}
.bl3 {
  position: absolute;
  width: 292px;
  height: 100px;
  background-color: #2478ce;
  margin-top: -20px;
  margin-left: 80px;
}
.bl4 {
  position: absolute;
  width: 292px;
  height: 100px;
  background-color: #2c87e4;
  margin-top: -20px;
  margin-left: 372px;
}
.blsl1 {
  position: absolute;
  margin-top: 20px;
  margin-left: 43px;
  cursor: pointer;
}
.blsl2 {
  position: absolute;
  margin-top: 25px;
  margin-left: 40px;
  cursor: pointer;
}
.blsl3 {
  position: absolute;
  margin-top: 20px;
  margin-left: 50px;
  cursor: pointer;
}
.blsl4 {
  position: absolute;
  margin-top: 30px;
  margin-left: 45px;
  cursor: pointer;
}
.row4 {
  height: 616px;
  margin-top: -316px;
  display: inline-block;
  
}
.ljud {
  width: 633px;
  height: 600px;
}
.nabr {
  position: absolute;
  width: 630px;
  height: 600px;
  background-color: #222222;
  margin-top: -600px;
  margin-left: 633px;
}
.form {
  position: absolute;
  width: 630px;
  height: 600px;
  background-color: #f5f5f5;
  margin-top: -600px;
  margin-left: 1260px;
}
.formt {
  font-size: 20px;
  font-family:Arial, Helvetica, sans-serif;
  margin-top: 90px;
  margin-left: 30px;
  font-weight: 550;
}
.ime {
  margin-left: 30px;
  height: 50px;
  width: 500px;
  margin-top: 40px;
  border: 1px solid lightgray;
}
.mail2 {
  margin-left: 30px;
  height: 50px;
  width: 500px;
  margin-top: 7px;
  border: 1px solid lightgray;
}
.drzava {
  margin-left: 30px;
  height: 50px;
  width: 500px;
  margin-top: 7px;
  border: 1px solid lightgray;
}
.bro {
  margin-left: 30px;
  height: 50px;
  width: 500px;
  margin-top: 7px;
  border: 1px solid lightgray;
}
.sel {
  margin-left: 30px;
  height: 50px;
  width: 240px;
  margin-top: 7px;
  border: 1px solid lightgray;

}
.type2 {
  margin-left: 26px;
  height: 50px;
  width: 240px;
  margin-top: 7px;
  border: 1px solid lightgray;

}
.predaja {
  position: absolute;
  margin-top: 80px;
  margin-left: -506px;
  width: 162px;
  background-color: #005dbe ;
  height: 45px;
  border: 2px solid #005dbe;
  border-radius: 50px;
  font-family: 'Ubuntu', sans-serif;
  color: white ;
  cursor: pointer;
  text-transform: uppercase;
  
}
.predaja:hover {
  background-color:white;
  border: 2px solid #005dbe;
  color: #005dbe;
  transition: 0.4s;
}
.row {
  height: 50px;
}
.trisl {
  margin-top: 120px;
  margin-left: 20px;
}
.prvibt {
  color: white;
  margin-top: -330px;
  font-size: 15px;
  margin-left: 85px;
  font-family:Arial, Helvetica, sans-serif;
  font-weight: 600;
}
.hr2 {
  height: 1px;
  width: 80px;
  background-color: white;
  margin-left: 85px;
  margin-top: -5px;
  background: linear-gradient(to right,  white 0%,white 50%,#545454 50%,#545454 100%);
}
.lor1 {
  color: rgb(156, 156, 156);
  margin-left: 85px;
}

.drugibt {
  color: white;
  margin-top: 45px;
  font-size: 15px;
  margin-left: 85px;
  font-family:Arial, Helvetica, sans-serif;
  font-weight: 600;
}
.hr3 {
  position: absolute;
  height: 1px;
  width: 80px;
  background-color: white;
  margin-left: 85px;
  margin-top: -5px;
  background: linear-gradient(to right,  white 0%,white 50%,#545454 50%,#545454 100%);
}
.lor2 {
  color: rgb(156, 156, 156);
  margin-left: 85px;
}
.trecibt {
  color: white;
  margin-top: 60px;
  font-size: 15px;
  margin-left: 85px;
  font-family:Arial, Helvetica, sans-serif;
  font-weight: 600;
}
.hr39 {
  position: absolute;
  height: 1px;
  width: 80px;
  background-color: white;
  margin-left: 85px;
  margin-top: -5px;
  background: linear-gradient(to right,  white 0%,white 50%,#545454 50%,#545454 100%);
}
.lor3 {
  position: absolute;
  color: rgb(156, 156, 156);
  margin-left: 85px;
  margin-top: 5px;
}
.row5 {
  margin-top: 60px;
}
.who2 {
  text-align: center;
  margin-top: 100px !important;
  font-size: 14px;
  
  color: grey;

}
.choose2 {
  
  margin-top: 10px !important;
  text-align: center;
  color: black;
  font-size: 32px;
  line-height: 1em;
  margin-bottom: 10px;
  text-transform: capitalize;
  font-family:Arial, Helvetica, sans-serif;
  }
.hr4 {
  height: 1px;
  width: 180px;
  background-color: white;
  margin-left: 855px;
  margin-top: 15px;
  background: linear-gradient(to right,  #e8e8e8 0%,#e8e8e8 30%,#005dbe 30%,#005dbe 70%, #e8e8e8 70%,  #e8e8e8 100% );
  
}
.opis3 {
 font-size: 15px;
  margin-top: 20px !important;
  text-align: center;
  color: grey;
  

}
.boxes {
  display: inline;
  
}
.box1, .box2, .box3 {
  display: inline-block;
  width: 369px;
  height: 232px;
  background-color: white;
  border: 1px solid #e8e8e8;
  
}
.boxes {
  position: absolute;
  margin-left:380px;
  margin-top: 60px !important;
}
.boxes2 {
  position: absolute;
  margin-left:380px;
  margin-top: 360px !important;
}
.box5 , .box2 {
  margin-left: 30px;
}
.box6 , .box3 {
  margin-left: 30px;
}
.box4, .box5, .box6 {
  display: inline-block;
  width: 369px;
  height: 232px;
  background-color: white;
  border: 1px solid #e8e8e8;
}
.dole1 {
  margin-left: 50px;
  margin-top: 120px;
  color: grey;
  position: absolute;
}
.learn {
  position: absolute;
  color: black;
  font-size: 18px;
  font-weight: 500;
  margin-left: 50px;
  margin-top: 80px;
}
.krug {
  border-radius: 50%;
  width: 60px;
  height: 60px;
  background-color:#333333;
  position: absolute;
  margin-left: 280px;
  margin-top: -30px;
  cursor: pointer;
}
.slik {
  margin-left: 12px;
  margin-top: 12px;
}
.slik2 {
  margin-left: 17px;
  margin-top: 10px;
}
.slik3 {
  margin-left: 15px;
  margin-top: 10px;
}
.krug:hover {
  
  cursor: pointer;
}
.row7 {
  height: 373px;
  margin-top: 730px;
  background-color: #222222;
}
.row97 {
  height: 373px;
  margin-top: 230px;
  background-color: #222222;
}
.row8 {
  height: 65px;
  background-color: #1b1b1b;
}
.copp {
  color: #e4e4e4;
  font-size: 13px;
  position: absolute;
  margin-left: 400px;
  margin-top: 25px;
}
.media {
  position: absolute;
  margin-left: 1390px;
  margin-top: 10px;
  cursor: pointer;
}
.med1 {
  position: absolute;
  margin-top: 3px;
  margin-left: -42px;
}
.our {
  position: absolute;
  color: white;
  margin-left: 390px;
  margin-top: 130px;
}
.opiss {
  margin-left: 390px;
  margin-top: 170px;
  color: grey;
  position: absolute;
} 
.more {
  position: absolute;
  text-decoration: none;
  color:#005dbe;
  margin-left: 390px;
  margin-top: 280px;
}
.aa {
  text-decoration: none;
}
.col2 {
  position: absolute;
  margin-left: 730px;
  margin-top: 60px;
}
.our2 {
  color: white;
  margin-top: 20px;
  margin-left: 10px;
}
.hr5 {
  position: absolute;
  content: '';
  width: 60px;
  height: 1px;
  margin-top: -5px;
  margin-left: 10px;
  background: linear-gradient(to right,  #005dbe 0%,#005dbe 70%,#f2f2f2 70%,#f2f2f2 100%);
}
.col3 {
  position: absolute;
  margin-left: 1050px;
}
.our3 {
  color: white;
  margin-top: 80px;
  margin-left: 10px;
}
.sk1 {
  position: absolute;
  margin-top: -155px;
  margin-left: 40px;
  color: grey;
}
.sk2 {
  position: absolute;
  margin-top: -85px;
  margin-left: 40px;
  color: grey;
}
.sk3 {
  position: absolute;
  margin-top: -32px;
  margin-left: 40px;
  color: grey;
}
.hr6 {
  position: absolute;
  content: '';
  width: 60px;
  height: 1px;
  margin-top: -5px;
  margin-left: 10px;
  background: linear-gradient(to right,  #005dbe 0%,#005dbe 70%,#f2f2f2 70%,#f2f2f2 100%);
}
.simbolisl {
  margin-top: 15px;
}
.col4 {
  position: absolute;
  margin-left: 1280px;
  margin-top: 60px;
  

}
.ime2 {
  width: 300px;
  height: 40px;
  border: 0px;
  margin-top: 20px;
}
.email2 {
  width: 300px;
  height: 40px;
  margin-top: 15px;
  border: 0px;
}
.our4 {
  color: white;
}
.hr8 {
  position: absolute;
  content: '';
  width: 60px;
  height: 1px;
  margin-top: -5px;
  margin-left: 0px;
  background: linear-gradient(to right,  #005dbe 0%,#005dbe 70%,#f2f2f2 70%,#f2f2f2 100%);
}
.predaja2 {
  position: absolute;
  margin-top: 80px;
  margin-left: -305px;
  width: 162px;
  background-color: #005dbe ;
  height: 45px;
  border: 2px solid #005dbe;
  border-radius: 50px;
  font-family: 'Ubuntu', sans-serif;
  color: white ;
  cursor: pointer;
  text-transform: uppercase;
  
}
.predaja2:hover {
  background-color:white;
  border: 2px solid #005dbe;
  color: #005dbe;
  transition: 0.4s;
}
.hr4 {
  position: absolute;
  content: '';
  width: 150px;
  height: 1px;
  margin-top: 230px;
  margin-left: 370px;
  background: linear-gradient(to right,  #f2f2f2 0%,#f2f2f2 50%,#f2f2f2 50%,#f2f2f2 100%);
}
.nav2 {
  margin-left: 1000px;
  margin-top: -40px;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 12px;
  
  
}

.kr:hover {
  border-bottom: 3px solid #005dbe;
}
.kr1:hover {
  border-bottom: 3px solid #005dbe;
}
.kr:active {
  border-bottom: 3px solid #005dbe;
}
.kr1:active {
  border-bottom: 3px solid #005dbe;
}
.autoabtsl {
  height: 340px;
  width: 100%;
}
.row11 {
  height: 400px;
  margin-top: 50px;
  filter: brightness(30%);
}
.us {
  position: absolute;
  margin-top: -210px;
  font-size: 50px;
  color: white;
  margin-left: 820px;
}
.hr12 {
  position: absolute;
  content: '';
  width: 100%;
  height: 5px;
  margin-top: 0px;
  margin-left: 0px;
  background-color: #005dbe;
}
.botun5 {
  position: absolute;
  width: 202px;
  background-color: #005dbe;
  height: 45px;
  margin-left: 850px;
  margin-top: -22px;
  border: 2px solid #005dbe;
  border-radius: 50px;
  font-family: 'Ubuntu', sans-serif;
  color: white;
  cursor: pointer;
}
.botun5:hover {
  background-color: white;
  color: #005dbe;
  transition: 0.5s;
  border: 2px solid #005dbe;
}
.hm {
  margin-left: 39px;
  margin-top: 10px;
}
.row12 {
  height: 1500px;
}
.serv {
  position: absolute;
  color: grey;
  text-align: center;
  left:0;
  right:0;
  margin-left:auto;
  margin-right:auto;
  margin-top: 100px;
}
.feat {
  position: absolute;
  margin-top: 130px !important;
  margin-left: 866px !important;
  color: #222222;
  font-size: 36px;
  line-height: 1em;
  margin-bottom: 10px;
  text-transform: capitalize;
  font-family:Arial, Helvetica, sans-serif;
}
.dole3 {
  position: absolute;
  text-align: center;
  margin-top: 200px;
  margin-left: 500px;
  color: gray;
}
.hr13 {
  
  height: 1px;
  width: 200px;
  background-color: white;
  margin-left: 850px;
  margin-top: -1315px;
  background: linear-gradient(to right,  #e8e8e8 0%,#e8e8e8 30%,#005dbe 30%,#005dbe 70%, #e8e8e8 70%,  #e8e8e8 100% );
}
.znaksl {
  position: absolute;
  margin-top: 120px;
  margin-left: 600px;
}
.br1 , .br2 , .br3 {
  position: absolute;
  font-size: 45px;
  margin-left: 400px;
}
.br1 {
  margin-top: 200px;
}
.tr1 , .tr2 , .tr3 {
  position: absolute;
  margin-left: 400px;
  color: gray;
}
.tr1 {
  margin-top: 260px;
}
.br2 {
  margin-top: 300px;
}
.tr2 {
  margin-top: 360px;
}
.br3 {
  margin-top: 420px;
}
.tr3 {
  margin-top: 480px;
}

.br4 , .br5 , .br6 {
  position: absolute;
  font-size: 45px;
  margin-left: 1270px;
}
.br6 {
  margin-top: 200px;
}
.tr4 , .tr5 , .tr6 {
  position: absolute;
  margin-left: 1270px;
  color: gray;
}
.tr4 {
  margin-top: 260px;
}
.br4 {
  margin-top: 300px;
}
.tr5 {
  margin-top: 360px;
}
.br5 {
  margin-top: 420px;
}
.tr6 {
  margin-top: 480px;
}
.hr15 {
  position: absolute;
  margin-top: 472px;
  margin-left: 600px;
  height: 1px;
  width: 600px;
  background-color: #545454;
}
.intro {
  text-decoration: none;
  position: absolute;
  margin-top: 500px;
  margin-left: 900px;
  color: #545454;
}
.intro:hover {
  color: #005dbe;
}
a {
  text-decoration: none;
}
.hr16 {
  position: absolute;
  margin-top: 509px;
  margin-left: 780px;
  height: 1px;
  width: 100px;
  background-color: #e4e4e4;
}
.hr17 {
  position: absolute;
  margin-top: 509px;
  margin-left: 1010px;
  height: 1px;
  width: 100px;
  background-color: #e4e4e4;
}
.Instructor {
  margin-top: 120px;
}
.opis10 {
  text-align: center;
  color: gray;
}
.inst {
  text-align: center;
  margin-top: -5px;
  color: #222222;
  font-size: 36px;
  line-height: 1em;
  margin-bottom: 10px;
  text-transform: capitalize;
  font-family:Arial, Helvetica, sans-serif;
}
.team1sl {
  margin-left: 150px;
  margin-top: 50px;
}
.teamtx {
  font-size: 20px;
  position: absolute;
  margin-left: 460px;
  margin-top: -260px;
}
.zanimanje {
  color: gray;
  margin-left: 464px;
  margin-top: -230px;
  position: absolute;  
}
.rijeci {
  color:gray;
  margin-left: 464px;
  margin-top: -170px;
}
.brr2 {
  position: absolute;
  height: 1px;
  width: 100px;
  margin-top: -185px;
  margin-left: 515px;
  background: linear-gradient(to right,  #005dbe 0%,#005dbe 70% , #e4e4e4 70%,  #e4e4e4 100% );
}
.drustvenisl {
  margin-left: 450px;
  cursor: pointer;
}
.hr25 {
  position: absolute;
  margin-top: 15px;
  margin-left: 850px;
  height: 1px;
  background: linear-gradient(to right, #e4e4e4 0%,#e4e4e4 30% ,#005dbe 40%, #005dbe 70% , #e4e4e4 70%,  #e4e4e4 100% );
  width: 200px;
}
.row17 {
  margin-top: -30px;
  margin-left: 50px;
}
.row17 , .row30 {
  display: inline-block;
}
.row30 {
  margin-left: 50px;
}
.team2sl {
  position: absolute;
  margin-top: -255px;
}
.teamtx2 {
  position: absolute;
  font-size: 20px;
  margin-left: 250px;
  margin-top: -215px;
}
.zanimanje2 {
  color: gray;
  margin-top: -185px;
  margin-left: 255px;
  position: absolute;
  
}
.rijeci2 {
  position: absolute;
  color:gray;
  margin-left: 257px;
  margin-top: -120px;
  
}
.brr5 {
  position: absolute;
  margin-top: -145px;
  margin-left: 255px;
  height: 1px;
  background: linear-gradient(to right, #005dbe 0%,#005dbe 70% ,#e4e4e4 70%, #e4e4e4 70%  );
  width: 100px;
}
.drustvenisl3 {
  margin-top: -20px;
  margin-left: 260px;
  cursor: pointer;
}
.row50 , .row51 {
  display: inline-block;
  margin-top: 700px;
  
}
.zenskavozi {
  height: 600px;
  width: 1000px;
}
.row51 {
  background-color: #222222;
  height: 600px;
  width: 1000px;
  position: absolute;
}
.semafor {
  margin-top: 150px;
  margin-left: 450px;
}
.price {
  color:white;
  margin-left: 420px;
  
  
}
.tome {
  color: #e4e4e4;
  margin-top: 30px;
  text-align: center;
}
.now {
  
  text-align: center;
  margin-top: 10px;
}
.botun10 {
  position: absolute;
  width: 132px;
  background-color: #005dbe;
  height: 40px;
  text-align: center;
  margin-left: 440px;
  margin-top: 20px;
  border: 2px solid #005dbe;
  border-radius: 50px;
  font-family: 'Ubuntu', sans-serif;
  color: white;
  cursor: pointer;
}
.botun10:hover {
  background-color: white;
  color: #005dbe !important;
  transition: 0.5s;
  border: 2px solid white;
}
.pr {
  color: white !important;
}
.moje {
  margin-left: 400px;
  margin-top: 20px;
}
.row197 {
  height: 373px;
  margin-top: 110px;
  background-color: #222222;
}
.hm2 {
  font-size: 16px;
  margin-left: 20px;
  margin-top: 11px;
}
.us3 {
  position: absolute;
  margin-top: -210px;
  font-size: 50px;
  color: white;
  margin-left: 790px;
}
.forma99 {
  position: absolute;
  margin-left: 380px;
  margin-top: 130px;
}
.desni5 {
  position: absolute;
  margin-top: 100px;
}
.intch {
  color:#222222;
  font-size: 26px;
}
.hr200 {
  width: 180px;
  position: absolute;
  background: linear-gradient(to right,  #005dbe 0%,#005dbe 30%,#e8e8e8 30%,#e8e8e8 100%);
  height: 1px;
  margin-top: -12px;
}
.mali {
  color:gray;
  margin-top: 5px;
  position: absolute;
  width: 1200px;
}
.forma5 {
  position: absolute;
  margin-top: 60px;
}
.fime {
  width: 350px;
  height: 40px;
  border: 1px solid #e8e8e8;
}
.fmail {
  position: absolute;
  width: 350px;
  height: 40px;
  border: 1px solid #e8e8e8;
  margin-left: 385px;
  margin-top: -44px;
}
.fnaslov {
  position: absolute;
  width: 735px;
  height: 40px;
  border: 1px solid #e8e8e8;
}
.fporuka {
  position: absolute;
  width: 735px;
  height: 200px;
  margin-top: 45px;
  border: 1px solid #e8e8e8;
}
.predaja5 {
  position: absolute;
  margin-top: 250px;
  margin-left: 0px;
  width: 202px;
  background-color: #005dbe ;
  height: 45px;
  border: 2px solid #005dbe;
  border-radius: 50px;
  font-family: 'Ubuntu', sans-serif;
  color: white ;
  cursor: pointer;
  text-transform: uppercase;
  
}
.predaja5:hover {
  background-color:white;
  border: 2px solid #005dbe;
  color: #005dbe;
  transition: 0.4s;
}
.desni5 {
  margin-left: 1200px;
  margin-top: 140px;
}
.red1 , .red2 , .red3 {
  border: 2px solid #e8e8e8;
  width: 366px;
  height: 130px;
}
.red2 , .red3 {
  margin-top: 30px;
}
.visit {
  margin-top: 27px;
  margin-left: 70px;
}
.addy {
  margin-top: -5px;
  margin-left: 70px;
  color: gray;
}
.kruzic10  {
  position: absolute;
  border-radius: 50px;
  border: 4px solid lightblue;
  margin-top: 33px;
  margin-left: -27px;
  background-color: #005dbe;
  width: 57px;
  height: 57px;
  -moz-border-radius:50px;
  -webkit-border-radius:50px;
  width:57px;
}
.slikica1sl {
  margin-left: 12px;
  margin-top: 8px;
}
.kruzic11  {
  position: absolute;
  border-radius: 50px;
  border: 4px solid lightblue;
  margin-top: 37px;
  margin-left: -27px;
  background-color: #005dbe;
  width: 57px;
  height: 57px;
  -moz-border-radius:50px;
  -webkit-border-radius:50px;
  width:57px;
}
.kruzic12  {
  position: absolute;
  border-radius: 50px;
  border: 4px solid lightblue;
  margin-top: 37px;
  margin-left: -27px;
  background-color: #005dbe;
  width: 57px;
  height: 57px;
  -moz-border-radius:50px;
  -webkit-border-radius:50px;
  width:57px;
}
.slikica2sl {
  position: absolute;
  margin-left: 10px;
  margin-top: 10px;
}
.brojy {
  margin-top: -5px;
  margin-left: 70px;
  color: gray;
}
.callu {
  margin-top: 27px;
  margin-left: 70px;
}
.maily {
  margin-top: -5px;
  margin-left: 70px;
  color: gray;
}
.mailu {
  margin-top: 27px;
  margin-left: 70px;
}
.mapa {
  margin-top: 780px;
  width:1190px;
  height: 450px;
  margin-left: 380px;
  border: 0px;
}
.no {
  text-decoration: none !important;
  
}
.hm2 {
  text-decoration: none !important;
}
.lnk {
  text-decoration: none !important;
}
.a:link {
  text-decoration: none !important;
}